<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
      <class name="com.menumitra.superclass.APIBase"/>
      <class name="com.menumitratCommonAPITestScript.TableListViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.ActivityLogTestScript"/>
      <class name="com.menumitratCommonAPITestScript.ChefViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.GetStaffListWithRole"/>
      <class name="com.menumitratCommonAPITestScript.MakeMenuSpecialNonSpecial"/>
      <class name="com.menumitratCommonAPITestScript.UpdateTemplatesTestScript"/>
      <class name="com.menumitratCommonAPITestScript.GetStaffRole"/>
      <class name="com.menumitratCommonAPITestScript.WaiterCreateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.MenuUpdate"/>
      <class name="com.menumitratCommonAPITestScript.orderListViewSetUp"/>
      <class name="com.menumitratCommonAPITestScript.SendQRLinkTestScript"/>
      <class name="com.menumitratCommonAPITestScript.ChefDeleteTestScript"/>
      <class name="com.menumitratCommonAPITestScript.WaiterViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.OrderViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.DefaultSettingTestScript"/>
      <class name="com.menumitratCommonAPITestScript.sectionUpdateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.CaptainListViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.CaptainDeleteTestScript"/>
      <class name="com.menumitratCommonAPITestScript.TableCreateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.GetInventoryCategoryList"/>
      <class name="com.menumitratCommonAPITestScript.OutletSettingsViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.MenuCategoryViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.InventoryCategoryListView"/>
      <class name="com.menumitratCommonAPITestScript.SupplierCreditRatingChoicesTestScript"/>
      <class name="com.menumitratCommonAPITestScript.verifyOTPTestScript"/>
      <class name="com.menumitratCommonAPITestScript.MenuCategoryUpdateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.GetRatingList"/>
      <class name="com.menumitratCommonAPITestScript.WaiterListViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.SearchMenu"/>
      <class name="com.menumitratCommonAPITestScript.CheckVersionTestScript"/>
      <class name="com.menumitratCommonAPITestScript.StaffRoleListTestScript"/>
      <class name="com.menumitratCommonAPITestScript.GetVegOrNonVegList"/>
      <class name="com.menumitratCommonAPITestScript.SupplierListViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.DefaultUserSettingsTestScript"/>
      <class name="com.menumitratCommonAPITestScript.ViewOutletTestScript"/>
    
      <class name="com.menumitratCommonAPITestScript.ForceCancelOrderTestScript"/>
      <class name="com.menumitratCommonAPITestScript.SectionDeleteTestScript"/>
      <class name="com.menumitratCommonAPITestScript.loginTestScript"/>
      <class name="com.menumitratCommonAPITestScript.GetTableListTestScript"/>
      <class name="com.menumitratCommonAPITestScript.sectionCreateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.CaptainCreateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.UpdateTableTestScript"/>
      <class name="com.menumitratCommonAPITestScript.SectionViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.CheckTableIsReservedTestScript"/>
      <class name="com.menumitratCommonAPITestScript.InventoryCreateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.GetTemplatesListTestScript"/>
      <class name="com.menumitratCommonAPITestScript.CreateOrderTestScript"/>
      <class name="com.menumitratCommonAPITestScript.JoinTablesTestScript"/>
      <class name="com.menumitratCommonAPITestScript.StaffViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.sectionListViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.ViewTemplatesTestScript"/>
      <class name="com.menumitratCommonAPITestScript.GetOutletListTestScript"/>
      <class name="com.menumitratCommonAPITestScript.CaptainUpdateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.WaiterUpdateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.MenuListView"/>
      <class name="com.menumitratCommonAPITestScript.RemoveTemplateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.MenuCategoryDeleteTestScript"/>
      <class name="com.menumitratCommonAPITestScript.GetInorOutList"/>
      <class name="com.menumitratCommonAPITestScript.MenuView"/>
      <class name="com.menumitratCommonAPITestScript.OrderListViewCdskdsTestScript"/>
      <class name="com.menumitratCommonAPITestScript.UpdateMenuQuantity"/>
      <class name="com.menumitratCommonAPITestScript.CaptainViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.SupplierCreateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.CreateQRTemplatesTestScript"/>
      <class name="com.menumitratCommonAPITestScript.SelectTemplateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.SelectOutletTestScript"/>
      <class name="com.menumitratCommonAPITestScript.InventoryListViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.ContinueChatTestScript"/>
      <class name="com.menumitratCommonAPITestScript.DeleteTemplatesTestScript"/>
      <class name="com.menumitratCommonAPITestScript.UpdateProfileDetailTestScript"/>
      <class name="com.menumitratCommonAPITestScript.TicketListViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.PosDetailsTestScript"/>
      <class name="com.menumitratCommonAPITestScript.TableDeleteTestScript"/>
      <class name="com.menumitratCommonAPITestScript.TotalTicketsTestScript"/>
      <class name="com.menumitratCommonAPITestScript.ChefCreateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.ChangeSettingsTestScript"/>
      <class name="com.menumitratCommonAPITestScript.UpdateActiveStatusTestScript"/>
      <class name="com.menumitratCommonAPITestScript.ChefUpdateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.ListViewOutletTestScript"/>
      <class name="com.menumitratCommonAPITestScript.TableIsReservedTestScript"/>
      <class name="com.menumitratCommonAPITestScript.AddMenusToOrder"/>
      <class name="com.menumitratCommonAPITestScript.SupplierStatusChoicesTestScript"/>
      <class name="com.menumitratCommonAPITestScript.MenuDelete"/>
      <class name="com.menumitratCommonAPITestScript.GetMenuList"/>
      <class name="com.menumitratCommonAPITestScript.OwnerDetailsTestScript"/>
      <class name="com.menumitratCommonAPITestScript.StaffDeleteTestScript"/>
      <class name="com.menumitratCommonAPITestScript.MenuCategorysTestScript"/>
      <class name="com.menumitratCommonAPITestScript.CreateTicketTestScript"/>
      <class name="com.menumitratCommonAPITestScript.WaiterDeleteTestScript"/>
      <class name="com.menumitratCommonAPITestScript.OrderMenuDetailsTestScript"/>
      <class name="com.menumitratCommonAPITestScript.ViewProfileTestScript"/>
      <class name="com.menumitratCommonAPITestScript.ChefListViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.GetSpicyIndexList"/>
      
      <class name="com.menumitratCommonAPITestScript.GetSupplierListTestScript"/>
      <class name="com.menumitratCommonAPITestScript.MenuCreateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.InventoryCategoryCreate"/>
      <class name="com.menumitratCommonAPITestScript.GetAllMenuListByCategory"/>
      <class name="com.menumitratCommonAPITestScript.StaffCreateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.ResendOTPTestScript"/>
      <class name="com.menumitratCommonAPITestScript.TicketViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.GetFoodTypeList"/>
      <class name="com.menumitratCommonAPITestScript.OutletTypeTestScript"/>
      <class name="com.menumitratCommonAPITestScript.InventoryDeleteTestScript"/>
      <class name="com.menumitratCommonAPITestScript.InventoryUpdateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.supplierViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.InventoryViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.MenuCategoryListViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.TableListTestScript"/>
      <class name="com.menumitratCommonAPITestScript.tableView"/>
      <class name="com.menumitratCommonAPITestScript.GetAvailableTablesTestScript"/>
      <class name="com.menumitratCommonAPITestScript.SupplierDeleteTestScript"/>
      <class name="com.menumitratCommonAPITestScript.UpdateOutletTestScript"/>
      <class name="com.menumitratCommonAPITestScript.UpdateOrderTestScript"/>
      <class name="com.menumitratCommonAPITestScript.MenuCategoryCreateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.StaffUpdateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.GetTemplates"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
