<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="com.menumitra.superclass.APIBase"/>
      <class name="com.menumitratCommonAPITestScript.MenuCreateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.StaffDeleteTestScript"/>
      <class name="com.menumitratCommonAPITestScript.staffListViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.StaffViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.sectionListViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.StaffCreateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.sectionUpdateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.TableCreateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.ResendOTPTestScript"/>
      <class name="com.menumitratCommonAPITestScript.TableListTestScript"/>
      <class name="com.menumitratCommonAPITestScript.SectionDeleteTestScript"/>
      <class name="com.menumitratCommonAPITestScript.loginTestScript"/>
      <class name="com.menumitratCommonAPITestScript.GetTableListTestScript"/>
      <class name="com.menumitratCommonAPITestScript.sectionCreateTestScript"/>
      <class name="com.menumitratCommonAPITestScript.SectionViewTestScript"/>
      <class name="com.menumitratCommonAPITestScript.verifyOTPTestScript"/>
      <class name="com.menumitratCommonAPITestScript.StaffUpdateTestScript"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
